@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import './breakpoints.scss';

#home-styles {
  flex-grow: 1;
  min-height: 100vh;
  opacity: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../assets/V1/bg_desktop@2x.jpg');

  @include sm {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../assets/V1/bg_mobile\ 1@2x.jpg');
  }
  background-repeat: no-repeat !important;
  background-size: cover !important;

  .conteinerWrapper {
    padding-top: 35px;
    padding-bottom: 101px;
    position: relative;
    overflow: auto;

    @include sm {
      padding-right: 10vw;
      padding-left: 10vw;
    }
  }

  .header {
    .col-1 {
      @include sm {
        text-align: center;
      }
      a {
        color: #ffffff;
        text-decoration: underline;
        font: normal normal bold 16px/19px Roboto;
      }
    }
    .col-2 {
      img {
        @include sm {
          width: 100%;
        }
      }
    }
    .col-3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
    .buttonStyle {
      border: none;
      background: inherit;
      box-shadow: none;
    }
    .colWrap {
      position: absolute;
      top: 28px;
      right: 50;
      margin-right: 77px;

      @include sm {
        position: relative;
        margin-right: 42%;
      }
      .text {
        font: normal normal bold 18px/29px Kalam;
        letter-spacing: 0px;
        color: #ffffff;
      }
      .arrow {
        transform: rotate(30deg);
        margin-left: 20px;
        @include sm {
          transform: rotate(0deg);
        }
      }
    }
  }

  .btnDiv {
    margin-top: 128px;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .text-1 {
      font: normal normal bold 15px/25px Roboto;
      letter-spacing: 0px;
      color: #ffffff;
      margin-top: 23px;
    }
    .text-2 {
      font: normal normal 900 22px/25px Roboto;
      letter-spacing: 0px;
      color: #ffffff;
      margin-top: 23px;
    }

    .btnWrap {
      width: 594px;

      .btnMain {
        background: #fcc4be 0% 0% no-repeat padding-box;
        border: 2px solid #f0a39a;
        border-radius: 4px;
        padding: 18px 0px;
        font: normal normal bold 20px/25px Roboto;
        text-transform: none;
        letter-spacing: 0px;
        color: #000000;
      }

      .btnSub {
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #dfdfdf;
        border-radius: 0px;
        padding: 17px 0px;
        margin-top: 28px;
      }
    }
  }
  .footer {
    margin-top: 15vh;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #ffffff;

    .col-1 {
      text-align: left;
      @include sm {
        text-align: center;
      }
    }
    .col-2 {
      text-align: center;
      @include sm {
        text-align: center;
      }
    }
    .col-3 {
      text-align: right;
      @include sm {
        text-align: center;
      }
    }
  }

  .buttonMainWrap {
    display: flex;
    justify-content: flex-end;
    img {
      position: absolute;
      z-index: 10;
      margin-top: -60px;
      margin-right: -50px;
    }
  }
}
